*{
    border: solid;
}

h1{
    color: #2f5a6e;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
}

.aboutMeLink{
    display: flex;
    justify-content: flex-end;
}

.aboutMe{
    display: flex;
    justify-content: flex-end;
}

body{
    background-size: cover;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=980:*");
}